<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
 
<item>
<title>"[COLOR lime]Alma[/COLOR][COLOR blue] Relax[/COLOR] [COLOR blue]2.0[/COLOR]...Crecimiento y desarollo personal[/br]"
</title>
<thumbnail></thumbnail>
<fanart></fanart>
<link>https://www.dropbox.com/s/0pelp9gjts336wo/new%202.xml?dl=1</link>
<externallink>https://www.dropbox.com/s/0pelp9gjts336wo/new%202.xml?dl=1</externallink>
</item>
